/bootstrap/compiled.php
/vendor
composer.phar
.env.local.php
.env.sandbox.php
.env.staging.php
.env.production.php
.env.php
.DS_Store
Thumbs.db
/public/bower_components
/node_modules
/public/scripts
/public/templates
/app/storage/debugbar
/app/storage/cache/**
.idea
.vscode