/*
@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");
*/

body {
    margin-top: auto;
    background-image: url(https://wallpapertag.com/wallpaper/full/b/7/4/156631-new-black-textured-background-1920x1080-images.jpg);
}

input {
    border: hidden;
    background-color: rgb(71, 58, 44);
    color: azure;
    margin-bottom: 5px;
}


/*
background color: rgb(71, 58, 44)
text color: rgb(105, 35, 25)
*/
/*pop up crap*/
/* Popup Box */
#popup-container {
  background: rgba(0, 0, 0, .4);
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.popup {
  cursor: pointer;
  display: block;
  height: 40%;
  opacity: 0.9;
  font-size: 2.2rem;
}

.popup .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.popup>div {
  background-color: #fff;
  display: inline-block;
  height: auto;
  max-width: 20rem;
  min-height: 7.5rem;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 1rem 5%;
}

#popup-close {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 1.7rem;
  line-height: 1.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

#popup-close:hover {
  background-color: #ccc;
}

/*The Game CSS aka bullshit*/
.game-container {
    margin: auto;
    margin-top: 0.5rem;
    width: 525px;
  }
  
  #gameboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    line-height: 160px;
    color: #fff;
    font-size: 180px;
    animation: animateBoard 1s forwards ease-in-out;
  }
  
  @keyframes animateBoard {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .game-container .square {
    border: #fff 2.5px solid;
    width: 170px;
    height: 170px;
  }
  
  .game-container #square-0 {
    border-left: none;
    border-top: none;
    margin-left: 2.5px;
    margin-top: 2.5px;
  }
  
  .game-container #square-1 {
    border-top: none;
    margin-top: 2.5px;
  }
  
  .game-container #square-2 {
    border-right: none;
    margin-right: 2.5px;
    border-top: none;
    margin-top: 2.5px;
  }
  
  .game-container #square-3 {
    border-left: none;
    margin-left: 2.5px;
  }
  
  .game-container #square-5 {
    border-right: none;
    margin-right: 2.5px;
  }
  
  .game-container #square-6 {
    border-left: none;
    margin-left: 2.5px;
    border-bottom: none;
    margin-bottom: 2.5px;
  }
  
  .game-container #square-7 {
    border-bottom: none;
    margin-bottom: 2.5px;
  }
  
  .game-container #square-8 {
    border-right: none;
    margin-right: 2.5px;
    border-bottom: none;
    margin-bottom: 2.5px;
  }
  
  .square:hover {
    cursor: pointer;
  }
  
  
  /* Game-Info */
  
  .player-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    color: white;
  }
  
  #player-one,
  #tie,
  #player-two {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 1rem;
  }
  
  .player-icon-container {
    background: transparent;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #num-of-players {
    display: grid;
  }
  
  #one-player {
    grid-column: 1;
    grid-row: 1;
    padding-left: 5px;
  }
  
  #two-player {
    grid-column: 1;
    grid-row: 1;
  }
  
  #player-label {
    text-align: center;
    font-size: 1.5rem;
    margin: -1px;
  }
  
  .show {
    visibility: visible;
    float: left;
  }
  
  .hidden {
    visibility: hidden;
    float: right;
  }
  
/*end game bullshit*/


#verus {
    margin-top: 30px;
    margin-right: 10px;
    color: rgb(71, 58, 44);
}

#single-player {
    margin-top: 30px;
}

#test {
    color: whitesmoke;
    font-size: large;
}

.signup {
    color: white;
    text-align: center;
    background-color: rgba(17, 17, 17, .6);
    width: fit-content;
    height: max-content;
    margin-bottom: 10px;
}

.jumbotron {
    color: whitesmoke;
    background-color: rgba(17, 17, 17, .6);
    text-align: center;
    height: min-content;
    width: 100%;
}

.btn-dark {
    margin-top: 10px;
    background-color: rgb(105, 35, 25);
}

.btn-dark a {
    text-align: center;
    font-size: large;
    color: aliceblue !important;
}

.btn-dark a:hover {
    background-color: azure !important;
}

.sidenav {
    height: fit-content;
    width: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0);
    overflow-x: hidden;
    padding-top: 20px;
    transform: translateY(-20%);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    display: block;
}

.sidenav a:hover {
    color: rgb(71, 58, 44);
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 20px;
    }
}